<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <div class="container">
            
            <a th:href="@{/paciente/novo}" class="btn btn-primary">Novo</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Data de Nascimento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umPaciente : ${listaPacientes}">
                        <td th:text="${umPaciente.id}"></td>
                        <td th:text="${umPaciente.nome}"></td>
                        <td th:text="${umPaciente.sexo}"></td>
                        <td th:text="${umPaciente.dataNascimento}"></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div th:include="layout :: footer">(footer)</div>
        
    </body>
</html>